
<h1>Welcome, <%= @user.username %></h1>
<h2>Training Logs</h2>

<% swimtotal = 0 %>
<% biketotal = 0 %>
<% runtotal = 0 %>
<br><br>

<% @logs.each do |log| %>
  <% if log.user.username == @user.username %>
	  <p>Date: <%= log.date %></p>
	  <p>Swim: <%= log.swim_distance %> m</p>
	  <p>Bike: <%= log.bike_distance %> km</p>
	  <p>Run: <%= log.run_distance %> km</p><br>

		<% swimtotal += log.swim_distance %>
		<% biketotal += log.bike_distance %>
		<% runtotal += log.run_distance %>

	 <% end %>
<% end %>

<h3>Total Swim Distance: <%= swimtotal %> m</h3>
<h3>Total Bike Distance: <%= biketotal %> m</h3>
<h3>Total Run Distance: <%= runtotal %> m</h3>

<div class="button">
	<button><a href="/logs/new">New Log</a></button>
	<button><a href="/logout">Log Out</a></button>
</div>