
<h1>Log</h1>

<% if flash.has?(:message) %>
    <strong style="color:red;"><%= flash[:message] %></strong>
<% end %>

<h2>Date: <%= @log.date %> </h2>
<br>
<p>Swim (m): <%= @log.swim_distance%></p>
<p>Bike (km): <%= @log.bike_distance%></p>
<p>Run (km): <%= @log.run_distance%></p>


<form action="/logs/<%= @log.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit"   value="Delete Log">
</form>


<button><a href="/logs/<%= @log.id %>/edit">Edit Log</button>
<button><a href="/logs">Log List</a></button>